<button type="button" class="btn btn-secondary" style="float:right;" onclick="document.querySelector('.js-trans-modal').style.display = 'none';">
    {{ 'Cancel'|trans({},'KikwikDbTransBundle') }}
</button>

<h1>{{ 'Translations of'|trans({},'KikwikDbTransBundle') }} <small>{{ transKey }}</small></h1>

{{ form_start(form) }}
    {{ form_widget(form) }}

{{ form_end(form) }}

